<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- videoJS CSS-->
    <link rel="stylesheet" href="https://vjs.zencdn.net/7.8.4/video-js.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <title>Feature Catcher Web Service Developing</title>
</head>

<body>
    <!--header-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">FEATURE CATCHER</a>
            </div>
        </div>
    </nav>
    <!--content-->
    <div class="container-fluid">
        <div class="row">
            <!-- content Start -->
            {% block content %}
            {% endblock %}
            {% include "sidebar.html" %}
            <!-- content End -->
        </div>
    </div>

    <!-- videoJS JS -->
    <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- custom JS -->
    <script src="{{ url_for('static', filename='custom.js') }}"></script>

    {% block script %}
    {% endblock %}

</body>

</html>